*.d
*.o
varstored
test
test.dat
create-auth
PK.auth
KEK.auth
KEK.list
db.auth
db.list
*.key
PK.pem
testPK.pem
testcertA.pem
testcertB.pem
varstore-get
varstore-ls
varstore-rm
varstore-set
varstore-sb-state
